::-webkit-scrollbar
{
 	width: 8px;
 	height: 8px;
}
::-webkit-scrollbar-track
{
 	background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb
{
 	background: rgba(0, 0, 0, 0.2);
 	border-radius: 4px;
}
body{
	background-color: #E4EAED;
}
.transition{
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
}
.hidden{
	display: none;
}
.m-0{
	margin: 0px;
}
.pad-0{
	padding: 0px;
}
.pad-5{
	padding:5px;
}
.w-100p{
	width: 100%;
}
.b-0{
	border:0px;
}
.b-1{
	border:1px solid #ccc;
}
.b-r-5{
	border-radius: 5px;
}
.f-l{
	float:left;
}
.f-r{
	float: right;
}
.c-p{
	cursor: pointer;
}
.font{
	font-family: 'arial';
	font-size: 12px;	
}
.bck-white{
	background-color: #fff;
}
.bck-zaya-blue{
	background-color: #0099ff;
}
.bck-light-grey{
	background-color: #F2F2F2;
}
.bck-dark-grey{
	background-color: #767968;
}
.font-white{
	color: #fff;
}
.font-light-grey{
	color: #F2F2F2;
}
.font-dark-grey{
	color: #767968;
}
.font-bold{
	font-weight: bold;
}
.list-style-none{
	list-style-type: none;
}
.text-center{
	text-align: center;
}