@media all{
	#top_header{
		height: 50px;
		background: url('../image/zaya-logo.png') #009de2 no-repeat 10px center;
		background-size:auto 30px;
	}
	#msg{
		padding:15px;
	}
	#search_wrapper{
		background:url('../image/search-2-icon.png') #fff no-repeat 99% center;
	}
	select{
		width: 25%;
		height: 25px;
		padding: 2px 5px;
		margin-right: 4px;
	}
	.left,.right{
		overflow:hidden;
		height: 70%;
	}
	.left{
		width: 60%;
	}
	.right{
		box-shadow: inset 2px 2px 10px rgba(180,180,180,1);
		width: 40%;
	}
	.header{
		height: 25px;
		line-height: 25px;
	}
	#lesson_list_wrapper{
		max-height: 80%;
		overflow-y:scroll;
	}
	#lesson_list{
		border-collapse: collapse;
	}
	#lesson_list tr:hover{
		background-color: #E6F7FF;
	}
	#lesson_list tr:not(:last-child) td,#topic_list li, .border-bottom{
		border-bottom: 1px solid #ccc;
	}
	#lesson_list tr{
		cursor: move;
	}
	.wrap-lesson{
		height: 55px;
	}
	.lesson-image{
		width: 64px;
		vertical-align: top;
	}
	.lesson-image-container{
		width: 100px;
		height: 80px;
		background-color: #8D2E7A;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
	.lesson-metadata{
		padding: 10px 0px 0px 0px;
	}
	.lesson-video{
		background-image: url('../image/video-icon.png');
	}
	.lesson-document{
		background-image: url('../image/document-icon.png');
	}
	.lesson-question{
		background-image: url('../image/help-file-icon.png');
	}
	.lesson-video,.lesson-document,.lesson-question{
		display: inline;
		padding-left: 20px;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 16px;
	}
	.post-date{
		vertical-align:bottom;
		text-align:right;
	}

	#create-btn-wrapper{
		height:30px;
	}
	.create-btn{
		padding: 10px 15px;
		margin-right: 15px;
	}
	#delete_topic_btn{
		background: url('../image/delete-icon.png') no-repeat 5px center;
		padding-left:25px;
	}
	#add_topic_btn{
		width: 55px;
		margin: 10px;
		padding-left:25px;
		background:url('../image/add-icon.png') no-repeat 5px center;
	}
	.topic-name-wrapper{
		height:30px;
		margin:10px;
		padding:0px 5px;
		line-height:30px;
	}
	.course-name{
		padding:10px;
	}
	.cancel-btn{
		text-shadow:#fff 0px 1px;
		box-shadow: 0px 0px 1px #444;
	}
	input[name='coursename'],.course-name{
		text-shadow:#444 0px 2px;
	}
	input[name='topicname'],input[name='coursename']{
		width: 50%;
		height: 30px;
	}
	input[name='topicname']:focus,input[name='coursename']:focus{
		outline:none;
	}
	#course_hirarchy{
		height:30%;
		box-shadow: inset 0px 0px 10px 2px #555;
		overflow-y:scroll;
	}
	
	.drop-box{
		margin: 10px;
		border: 1px dashed #939393;
		background-color: #EAEBE7;
	}
	.hi-drop-box{
		height: 100px;
		line-height: 100px;
	}
	.hi-add-more{
		height: 50px;
		line-height: 50px;
	}
	.topic-list-wrapper{
		height: 70%;
		overflow-y:scroll;
		overflow-x:hidden;
	}
	.cta-btn{
		height:30px;
		line-height:30px;
		padding:5px 10px;
	}
	.added-lessons{
		height: 20px;
		line-height: 20px;
		margin: 5px 0px;
		padding: 5px 10px 5px 30px;
	}
	.delete_lesson_btn{
		width:20px;
		height: 20px;
		background: url('../image/delete-icon.png') no-repeat center center;
	}
}
@media all and (max-width: 840px){
	.lesson-image{
		width: 50px;
	}
	.lesson-image-container{
		width: 60px;
		height: 55px;
	}
	.wrap-lesson{
		height: 30px;
	}
}
@media all and (max-width: 500px){
	.left,.right{
		clear: both;
		width: 99%;
	}
	.left{
		height: 35%;	
	}
	.right{
		height:60%;
	}
	.lesson-image{
		width: 35px;
	}
	.topic-list-wrapper{
		max-height: 75%;
	}
}
